<a href="https://colab.research.google.com/github/auliaaafr/MSIB_AI-4-Jobs_Orbit/blob/main/Tugas_3_Python_3__Container_list%2C_tupple%2C_set.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [84]:
Nomor = 8
NIK = [1990022, 2001077, 2002019, 2002081, 2005099, 2006003, 2006104, 2008160]
Nama = ['Herman', 'Badar', 'Clara', 'Rista', 'Riani', 'Afif', 'Riven', 'Endah']
J_Kelamin = ['L','L', 'P', 'P', 'P', 'L', 'L', 'P']
Alamat = ['Tangerang', 'Bekasi', 'Depok', 'Bogor', 'Bekasi', 'Karawang', 'Tangerang', 'Jakarta']
Div = ['Machinery', 'Machinery', 'Compressor', 'QC', 'QC', 'Compressor', 'Compressor', 'Machinery']
Jab = ['Manajer', 'Staff', 'Staff', 'Staff', 'Operator', 'Operator', 'Operator', 'Operator']
G_Pokok = [10000000, 7500000, 7000000, 6500000, 6000000, 5500000, 5500000, 5000000]

print('''
-----------------------------------------------------------------------------------------------------------------
| No |    NIK    |    Nama    |    Jenis Kelamin    |    Alamat    |    Divisi    |    Jabatan    |  Gaji Pokok |
-----------------------------------------------------------------------------------------------------------------
''')
for x in range(Nomor):
  kolom_1 = str(x+1)
  kolom_2 = str(NIK[x])
  kolom_3 = str(Nama[x])
  kolom_4 = str(J_Kelamin[x])
  kolom_5 = str(Alamat[x])
  kolom_6 = str(Div[x])
  kolom_7 = str(Jab[x])
  kolom_8 = str(G_Pokok[x])

  print('| ' + kolom_1 + (3-len(kolom_1))*' '
       + '| ' + kolom_2 + (10-len(kolom_2))*' '
       + '| ' + kolom_3 + (11-len(kolom_3))*' '
       + '| ' + kolom_4 + (20-len(kolom_4))*' '
       + '| ' + kolom_5 + (13-len(kolom_5))*' '
       + '| ' + kolom_6 + (13-len(kolom_6))*' '
       + '| ' + kolom_7 + (14-len(kolom_7))*' '
       + '| ' + kolom_8 + (12-len(kolom_8))*' ' + '|')
  print('-----------------------------------------------------------------------------------------------------------------')

-----------------------------------------------------------------------------------------------------------------
| No |    NIK    |    Nama    |    Jenis Kelamin    |    Alamat    |    Divisi    |    Jabatan    |  Gaji Pokok |
-----------------------------------------------------------------------------------------------------------------

| 1  | 1990022   | Herman     | L                   | Tangerang    | Machinery    | Manajer       | 10000000    |
-----------------------------------------------------------------------------------------------------------------
| 2  | 2001077   | Badar      | L                   | Bekasi       | Machinery    | Staff         | 7500000     |
-----------------------------------------------------------------------------------------------------------------
| 3  | 2002019   | Clara      | P                   | Depok        | Compressor   | Staff         | 7000000     |
-----------------------------------------------------------------------------------------------------------------
| 4  | 2002081   | Rista      | P                   | Bogor        | QC           | Staff         | 6500000     |
-----------------------------------------------------------------------------------------------------------------
| 5  | 2005099   | Riani      | P                   | Bekasi       | QC           | Operator      | 6000000     |
-----------------------------------------------------------------------------------------------------------------
| 6  | 2006003   | Afif       | L                   | Karawang     | Compressor   | Operator      | 5500000     |
-----------------------------------------------------------------------------------------------------------------
| 7  | 2006104   | Riven      | L                   | Tangerang    | Compressor   | Operator      | 5500000     |
-----------------------------------------------------------------------------------------------------------------
| 8  | 2008160   | Endah      | P                   | Jakarta      | Machinery    | Operator      | 5000000     |
-----------------------------------------------------------------------------------------------------------------